.popup__close {
	width: 32px;
	height: 32px;
	background: transparent;
	background-image: url(../../../images/close-icon-big.svg);
	background-repeat: no-repeat;
	position: absolute;
	top: -40px;
	right: -40px;
	cursor: pointer;
	border: none;
	margin: 0;
	padding: 0;
	transition: opacity .8s;
}

.popup__close:hover {
	opacity: .6;
}

@media screen and (max-width: 680px) {
	.popup__close {
		width: 20px;
		height: 20px;
		background-image: url(../../../images/close-icon.svg);
		top: -36px;
		right: 0px;
	}
}
