.text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFF; 
    transition: opacity .3s;
}

.text:hover {
    opacity: 0.6
}

@media screen and (max-width: 480px) {
    .text {
        margin-top: 20px;     
    }
}