.place__basket {
  width: 18px;
  height: 19px;
  background-color: transparent;
  background-image: url(../../../images/basket.svg);
  background-repeat: no-repeat;
	background-position: center;
  position: absolute;
  top: 20px;
  right: 20px;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
  transition: opacity .8s;
}
  /* hover сделал по аналогии с другими кнопками т.к. в Т.З. не указано */
.place__basket:hover {
	opacity: .6;
}
